@import url(https://fonts.googleapis.com/css?family=Oswald);

div.topicWrap {
	margin: 20px;
	color: rgb(255,215,0); 
	border-color: white;
	border: 3px;
}

div.forumHeader {
	margin: 45px;
	color: white;
	background-color: red;
	text-align: center;
	font-size: 24px;
}

div.forumBox {
	margin: 25px;
	display: inline-block;
}

div.pageHolder {
	background-color: rgb(102,99,178);
	height: 100vh;
}

div.narrowerTop {
	border-radius: 10px, 10px, 0px,0px;
	background-color: rgb(102,99,178);
	height: 30vh;
	width: 100%;
}

div.narrowerBottom {
	border-radius: 0px,0px, 10px, 10px;
	background-color: rgb(102,99,178);
	height: 30vh;
	width: 100%;
}

div.pageTitle {
	font-style: italic;
	color: white;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	vertical-align: center;
	padding: 5px;
}

button.postButton {
	background-color: rgb(92,255,53);
	 color: black; 
	 font-size: 20px;
	 margin: 10px;
}

p.subTitle {
	 color: white; 
	 font-size: 20px;
	 margin: 10px;
}

p.myPostsLink {
	color: white;
	font-size: 16px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

div.myPostsNames {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 30px;
}

div.myPostsResponses {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 20px;
}

div.postWrap {
	padding: 35px;
	margin: 35px;
}

div.altColorContainer :nth-child(even){
  color: black;
}
div.altColorContainer :nth-child(odd){
  color: white;
}

ul.nav{
	background-color: rgb(92,255,53);
	color: white;
}

li {
	color: white;
}


label.radio-inline {
	color: white;
}

button.navbar-toggle {
	background-color: rgb(178, 178, 32);
	color: white;
}

button.creator {
	background-color: rgb(255,91,0);
	color: white;
	vertical-align: center;
	text-align: center;
}

.pre{
	white-space: pre;
}

nav.topHat {
	background-color: rgb(255,91,0);
}

.navbar .nav > li > a {
    color: black;
}